:root {
  --primary-color: #a8000b;
  --secondary-color: #ba252f;
  --button-color: #c95058;
  --light-color: #e8b9bc;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* General Styling */
body {
  background: var(--primary-color);
}

ul {
  list-style: none;
}

img {
  display: block;
  border: 0;
  width: 100%;
  height: auto;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  opacity: 0.8;
}

/* User Interface */
header {
  background: var(--primary-color);
  color: var(--light-color);
  text-align: center;
  padding: 1em 0;
  font-size: 1.5em;
  font-family: "Literata", serif;
}

h1 {
  font-family: "Lobster", cursive;
  padding-bottom: 0.5em;
  font-size: 4em;
  letter-spacing: 8px;
  text-shadow: 2px 5px 4px #0b00008a;
  transition: letter-spacing 1s ease-in, opacity 1.2s 0.6s ease-in;
}

/* For h1 animation on bigger screens with JS */
@media only screen and (min-width: 630px) {
  h1 {
    opacity: 0;
    letter-spacing: -38px;
  }
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

#ingredientInput {
  height: 2.1em;
  width: 80%;
  margin: 1em 0;
  caret-color: var(--primary-color);
  font: 20px "Josefin Sans", sans-serif;
  box-shadow: 3px 18px 47px -18px rgba(21, 0, 0, 0.43);
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  background: rgb(235, 223, 223);
  border: none;
}

.reset {
  background: none;
  color: inherit;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.btn {
  background: var(--button-color);
  padding: 0.3em;
  margin: 0.5em 0.1em;
  box-shadow: 0px 5px 15px 5px rgba(0, 0, 0, 0.4);
}

.search-input {
  display: flex;
  justify-content: center;
  align-items: center;
}

#add {
  margin: 0;
  padding: 0;
  background: none;
  transform: translate(3px, -3.4px);
  font-size: 2em;
  box-shadow: none;
}

#add i:hover {
  opacity: 0.8;
}

.error-msg {
  padding-bottom: 0.5em;
}

#clear {
  margin: 0 auto;
  padding: 0.5em;
  margin-top: 1.5em;
}

#clear:hover,
#clear:focus {
  background: var(--light-color);
  color: var(--button-color);
}

.ingredient-list {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.ingredient-list li {
  padding: 0.1em 0.6em 0.3em 0.6em;
  margin: 0.3em;
  border: solid var(--button-color) 2px;
  border-radius: 40px;
  box-shadow: 5px 6px 47px -5px rgba(0, 0, 0, 0.71);
}

.ingredient-list i {
  padding-left: 1em;
}

.search {
  margin: 2em auto;
  display: inline-block;
  width: 150px;
  padding-bottom: 0.6em;
  background: var(--light-color);
  color: var(--primary-color);
}

.search i {
  padding-right: 0.3em;
}

.search:hover,
.search:focus {
  background: var(--light-color);
  color: var(--button-color);
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: left;
  margin-left: 0.5em;
}

.flex-container p:last-child {
  font-size: 0.8em;
}

.results {
  padding: 0.1em 0.5em;
  margin-bottom: 1em;
  border: solid var(--button-color) 2px;
  border-radius: 40px;
  box-shadow: 5px 6px 47px -5px rgba(0, 0, 0, 0.71);
}
/* Cards */

main {
  background: var(--secondary-color);
  font-family: "Josefin Sans", sans-serif;
  display: none;
}

h2 {
  padding: 0.5em;
  font-size: 2em;
}

.card {
  display: block;
  background: var(--primary-color);
  margin: 2em 1em;
  text-align: center;
  box-shadow: 11px 16px 41px -6px rgba(0, 0, 0, 0.71);
  opacity: 0;
  transform: translate(-100px, -100px);
  transition: opacity 0.3s ease-in, transform 0.3s ease-in;
}

.card-visible {
  opacity: 1;
  transform: translate(0, 0);
}

.bottom-card {
  padding: 1em 0 1.3em 0;
  background: var(--button-color);
}

.bottom-card h3 {
  margin: 0 1em 1em 1em;
  padding-bottom: 0.5em;
  border-bottom: solid black 1px;
}

.bottom-card a {
  font-size: 1.3em;
  color: black;
  background: var(--secondary-color);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  padding: 0.5em 3em;
  border: solid black 1px;
  border-radius: 50px;
}

.bottom-card a:hover {
  transform: translateY(-5px);
  color: var(--light-color);
  border-color: var(--light-color);
}

/* CSS Grid for wider screens */
@supports (grid-area: auto) {
  @media screen and (min-width: 535px) {
    #ingredientInput {
      width: 20em;
    }

    main h2 {
      padding: 1em 0 2em 0.5em;
    }

    .cards {
      display: grid;
      grid-template-columns: repeat(2, auto);
      grid-auto-rows: 1fr;
      grid-gap: 2em;
      margin: 0 1em;
      align-items: normal;
    }

    .card figure {
      display: flex;
      flex: auto;
    }

    .card {
      margin: 0;
      display: flex;
      flex-direction: column;
    }

    .card a {
      width: 100%;
    }

    .caption {
      display: flex;
      align-items: flex-end;
    }

    .card figure {
      position: relative;
    }

    /* Figure overlay effect */
    .card figure::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.5);
      transition: background-color 0.3s ease-in;
    }

    .card:hover figure::before,
    .card:focus figure::before {
      background-color: rgba(0, 0, 0, 0);
    }
  }

  @media screen and (min-width: 900px) {
    .flex-container p {
      display: inline-block;
    }

    .flex-container {
      flex-direction: row;
      justify-content: space-between;
      margin: 0 0.5em;
    }
  }

  @media screen and (min-width: 1000px) {
    .cards {
      grid-template-columns: repeat(3, 1fr);
    }

    .card {
      position: relative;
      overflow: hidden;
    }

    .bottom-card {
      position: absolute;
      bottom: -65px;
      width: 100%;
      z-index: 99;
      background: none;
      transition: bottom 0.3s ease-out;
    }

    .card:hover .bottom-card,
    .card:focus .bottom-card {
      bottom: 0;
    }

    .bottom-card::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0.7;
      background: var(--button-color);
      z-index: -1;
    }
  }

  @media screen and (min-width: 1300px) {
    .cards {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
