/* li .cards should be INLINE-BLOCK */

:root {
  --primary-color: #a8000b;
  --secondary-color: #ba252f;
  --button-color: #c95058;
  --light-color: #e8b9bc;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* General Styling */
ul {
  list-style: none;
}

img {
  display: block;
  border: 0;
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: var(--light-color);
}

/* User Interface */
header {
  background: var(--primary-color);
  color: var(--light-color);
  text-align: center;
  border-bottom: solid var(--button-color) 4px;
  padding: 2em 0;
  font-size: 1.5em;
  font-family: "Literata", serif;
}

h1 {
  font-family: "Lobster", cursive;
  padding-bottom: 0.5em;
  font-size: 4em;
}

header p:first-of-type {
  padding-bottom: 3em;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

#ingredientInput {
  height: 2.2em;
  width: 90%;
  margin-top: 0.8em;
  caret-color: var(--primary-color);
  font: 20px "Josefin Sans", sans-serif;
}

.reset {
  background: none;
  color: inherit;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.buttons .btn:hover {
  background: var(--light-color);
  color: var(--button-color);
}

.btn {
  background: var(--button-color);
  padding: 0.3em;
  margin: 0.5em 0.1em;
}

#clear {
  margin-left: 1em;
}

#add i {
  padding-left: 10px;
}

.ingredient-list {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.ingredient-list li {
  padding: 0.1em 0.6em 0.3em 0.6em;
  margin: 0.3em;
  border: solid var(--button-color) 2px;
  border-radius: 40px;
}

.ingredient-list i {
  padding-left: 1em;
}

.search-container {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 2.5em;
  margin: 2em 0;
}

.search-container i {
  line-height: 2;
  width: 50px;
  border: solid 4px var(--button-color);
  padding-bottom: 0.15em;
  cursor: pointer;
}

#submit {
  margin: 0;
  padding-bottom: 0.6em;
}

.search-container #submit:hover {
  background: var(--light-color);
  color: var(--button-color);
}

.results {
  text-align: left;
  padding-left: 0.5em;
}
/* Cards */

main {
  background: var(--secondary-color);
  font-family: "Josefin Sans", sans-serif;
}

h2 {
  padding: 0.5em;
  font-size: 2em;
}

.card {
  display: block;
  background: var(--primary-color);
  margin: 1em;
  text-align: center;
  box-shadow: 0px 13px 21px -5px rgba(0, 0, 0, 0.3);
}

.bottom-card {
  padding: 1em 0;
  background: var(--primary-color);
}

.bottom-card h3 {
  margin: 0 1em 1em 1em;
  padding-bottom: 0.5em;
  border-bottom: solid black 1px;
}

.bottom-card a {
  font-size: 1.2em;
  color: black;
  background: var(--secondary-color);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  padding: 0.3em 3em;
  border: solid black 1px;
  border-radius: 50px;
}

.bottom-card a:hover {
  transform: translateY(-5px);
  color: var(--light-color);
}

/* CSS Grid for wider screens */
@supports (grid-area: auto) {
  @media screen and (min-width: 500px) {
    #ingredientInput {
      width: 20em;
    }

    .cards {
      display: grid;
      grid-template-columns: repeat(2, auto);
      grid-gap: 0.5em;
      align-items: center;
    }

    .card a {
      width: 100%;
    }

    .caption {
      display: flex;
      align-items: flex-end;
    }
  }

  @media screen and (min-width: 1000px) {
    .cards {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
